// METAS
meta(charset="utf-8")
//meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
meta(name="description", content="Amazon Web Services Course Information")
meta(name="author", content="AWS-Intro")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
meta(property='og:title', content='#{title} - #{caption}')
meta(property='og:type', content='website')
meta(property='og:author', content='https://www.facebook.com/awsintro')
meta(property='og:url', content='http://aws-intro.com/')
meta(property='og:locale', content='en_US')
meta(property='og:site_name', content='AWS-Intro')
meta(property='og:description', content='#{courseinfoparagraph}')
meta(property='og:image', content='#{cdn}/aws-intro@1200x630.png')
meta(property='twitter:card', content='summary_large_image')
meta(property='twitter:site', content='aws-intro.com')
meta(property='twitter:creator', content='@awsintro')
meta(property='twitter:title', content='AWS Intro - Amazon Web Services Course Information')
meta(property='twitter:description', content='Introduction to the AWS ecosystem, describing each component and equipping the attendee with the ability to apply the knowledge toward building a Cloud application.')
meta(property='twitter:image:src', content='#{cdn}/aws-intro@1200x630.png')
meta(property='twitter:image:width', content='1200')
meta(property='twitter:image:height', content='630')
