script(src='/javascripts/analytics.js')
script(src='/javascripts/crazyegg.js')
script(src='#{cdn}/jquery-1.11.0.min.js')
script(src='#{cdn}/bootstrap.min.js')
script(src='#{cdn}/wow.min.js')
script(src='#{cdn}/jquery.stellar.min.js')
script(src='#{cdn}/jquery.fitvids.js')
script(src='#{cdn}/jquery.countTo.js')
script(src='#{cdn}/retine-1.1.0.min.js')
script(src='#{cdn}/social-likes.min.js')
script(src='#{cdn}/grunticon.js')
script(src='/javascripts/app.js')
